// Colours Variables
$black: #020202;
$grey: #cecece;
$white: #ffffff;
$pureBlack: #000;
$darkGrey: #8f8f8f;
$lightGrey: #f5f5f5;
$lightBlack: #292929;
$lightGreyTwo: #fafafa;

// Main Colours
$primary-default: #2563eb;
$primary-dark: #09275e;

$secondary-default: #f6ad37;
$secondary-dark: #e4a002;

$accent-default: #2d2378;
$accent-pinkRed: #e20031;
